#container {
  margin: 20px;
}

#container::before {
  content: "Special Text Before";
  color: #f00;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

#container::after {
  content: "Special Text After";
  color: #f00;
  font-size: 20px;
  display: block;
  margin-top: 5px;
}

